.note-detail-container {
  background: linear-gradient(to right, #fdfbfb, #ebedee);
  border: 1px solid #e0e0e0;
  border-radius: 16px;
  padding: 2rem;
  max-width: 100%;
  margin: 2rem auto;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  font-family: 'Poppins', sans-serif;
  color: #333;
}

.note-title {
  font-size: 2rem;
  color: #333;
  margin-bottom: 1rem;
  
}

.note-description {
  font-size: 1.125rem;
  line-height: 1.7;
  color: #555;
  white-space: pre-wrap;
}

.note-loading,
.note-notfound {
  text-align: center;
  font-size: 1.25rem;
  margin-top: 5rem;
  font-family: 'Poppins', sans-serif;
  color: #888;
}

.delete-button {
  /* background-color: #e74c3c; red tone */
  color: white;
  border: none;
  border-radius: 6px;
  padding: 5px 10px;
  font-size: 0.8rem;
  cursor: pointer;
  margin-top: 1rem;
  transition: background-color 0.3s ease;
}

.delete-button:hover {
  background-color: #c0392b;
}
